@charset "UTF-8";

*{
    margin: 0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}
/*Tablets*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(var(--verde), var(--estra) );
    }

    section.login{
        width: 90vw;
        height: 300px;
    }
    section.login > div.imagem{
        background-position: left center;
        float: left;
        width: 30%;
        height: 100%;
    }
    section.login > div.formulario{
        float: right;
        width: 70%;
    }
    div.formulario > h1{
        font-size: 1.2em;
    }
    div.formulario > p{
        font-size: 0.9em;
    }
} /**Fim tablet/



/*Computadores*/
@media screen and (min-width:992px){
    body{
        background-image: linear-gradient(var(--verde), var(--estra) );
    }

    section.login{
        width: 990px;
        height: 350px;
    }

    section.login > div.imagem{
        background-position: right center;
        float: right;
        width: 50%;
        height: 100%;

    }
    section.login > div.formulario{
        float: left;
        width: 50%;
    }
    div.formulario > h1{
        font-size: 1.5em;
    }
    div.formulario >p{
        font-size: 1em;
    }
} /*Fim Computador*/